body {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  margin: 0;  
  justify-content: center;
  height: 100vh;
}

html {
  font-family: "Roboto";
}

.app {
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  padding: 24px 24px;
  overflow: hidden;
  width: 300px;
}

.content {

}

.content__wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.content__img {
  height: 300px;
}

.content__title,
.content__author {
  text-align: center;
  margin: 4px 0;
}

.content__title {
  font-weight: 700;
  font-size: 20px;
}

.content__author {
  font-weight: 400;
  font-size: 12px;
}

.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons * {
  transition: all 0.2s ease;
}

.buttons > *:hover i {
  cursor: pointer;
  opacity: 0.75
}

.buttons * i {
  font-size: 20px;
}

.volume {
  position: relative;
  display: flex;
  justify-content: center;
  
}

.volume__clip {
  position: absolute;
  bottom: 100%;
  overflow: hidden;
  display: none;
  justify-content: center;
  height: 150px;
  width: 50px;
}

.volume__panel {
  display: flex;
  justify-content: center;
  background: white;
  position: absolute;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 4px;
  padding: 8px 0;
  width: 32px;
  height: 100px;
  margin-bottom: 12px;
}

.volume__panel::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: 8px solid;
  border-color: white transparent transparent transparent;
  top: 100%;
}

.volume__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.volume__cover {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.volume__bar {
  position: relative;
  background-color: lightgray;
  width: 4px;
  height: 100%;
  background-clip: content-box;
  border-radius: 4px;
}

.volume__fill {
  position: absolute;
  border-radius: 4px;
  bottom: 0;
  background-color: black;
  width: 100%;
  display: flex;
  transition: none;
  justify-content: center;
}

.volume__thumb {
  position: absolute;
  transform: translateY(-50%);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: black;
  opacity: 0;
  transition: opacity ease .2s;
}

.volume__cover:hover + .volume__bar .volume__thumb {
  opacity: 1;
}

.shuffle,
.repeat {
  color: gray;
}

.play i {
  font-size: 40px;
}

.progress {
  position: relative;
  margin-top: 16px;
  padding-top: 8px;
}

.progress__cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  cursor: pointer;
}

.progress__bar {
  position: relative;
  background-clip: content-box;
  cursor: pointer;
  background-color: lightgray;
  border-radius: 4px;
  height: 4px;
}

.progress__fill {
  background-color: black;
  height: 100%;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
}

.progress__thumb {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: black;
  border-radius: 50%;
  right: 0;
  transform: translateX(50%);
  opacity: 0;
  transition: opacity ease .2s;
}

.progress__cover:hover + .progress__bar .progress__thumb {
  opacity: 1;
}

.progress__duration {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.progress__duration * {
  margin: 0;
  font-size: 12px;
}

.list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  /* display: flex; */
}

.list__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.5s ease;
}

.list__main {
  z-index: 1;
  margin-top: auto;
  width: 100%;
  height: 70%;
  background: whitesmoke;
  animation: slideIn 0.5s ease;
  position: relative;
  display: flex;
  flex-direction: column;
}

.list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 12px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.list__header p {
  margin: 0;
  font-size: 18px;
}

.list__header i {
  transition: opacity 0.2s ease;
  font-size: 18px;
  padding: 8px;
}

.list__header i:hover {
  opacity: 0.6;
  cursor: pointer;
}

.list__content {
  overflow: auto;
}

.song {
  height: 32px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  transition: background 0.2s ease;
}

.song:hover {
  background: rgb(224, 224, 224);
  cursor: pointer;
}

.song.song--playing {
  background: rgb(224, 224, 224);
  i {
    opacity: 1;
  }
}

.song__img,
.song__img img {
  height: 100%;
}

.song__img {
  width: 32px;
  overflow: hidden;
  margin-right: 8px;
  position: relative;
  display: flex;
  justify-content: center;
}

.song__play {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song__play i {
  font-size: 22px;
  color: white;
  opacity: 0;
  transition: all 0.2s ease;
}

.song__play i:hover {
  filter: brightness(80%);
}

.song:hover .song__play i {
  opacity: 1;
}

.song__detail *,
.song__duration {
  font-size: 13px;
  margin: 0;
}

.song__author {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 4px;
}

.song__duration {
  margin-left: auto;
}