body {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  margin: 0;  
  justify-content: center;
  height: 100vh;
}

html {
  font-family: "Roboto";
}

.app {
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  padding: 24px 24px;
  overflow: hidden;
  width: 300px;
}

.content {

}

.content__img {
  height: 300px;
}

.content__title,
.content__author {
  text-align: center;
  margin: 4px 0;
}

.content__title {
  font-weight: 700;
  font-size: 20px;
}

.content__author {
  font-weight: 400;
  font-size: 12px;
}

.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons * {
  transition: opacity 0.2s ease;
}

.buttons > *:hover i {
  cursor: pointer;
  opacity: 0.85
}

.buttons * i {
  font-size: 20px;
}

.volume {
  position: relative;
  display: flex;
  justify-content: center;
}

.volume__wrapper {
  background: transparent;
  position: absolute;
  width: calc(100% + 20px);
  display: flex;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 100%;
  overflow: hidden;
}

.volume:hover .volume__panel{
  transform: translateY(0);
  opacity: 1;
}

.volume__panel {
  position: relative;
  background-color: white;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  padding: 8px 0;
  margin-bottom: 12px;
  transform: translateY(70%);
  opacity: 0;
  transition: all ease 0.2s;
  pointer-events: all;
}

.volume__panel::after {
  content: '';
  position: absolute;
  border: 8px solid;
  border-color: white transparent transparent transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.volume__bar {
  padding: 0 14px;
  width: 4px;
  background-color: lightgray;
  background-clip: content-box;
  height: 100%;
  border-radius: 2px;
  display: flex;
  
  cursor: pointer;
}

.volume__fill {
  margin-top: auto;
  border-radius: 2px;
  width: 100%;
  height: 50%;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
}

.volume__fill::after {
  --size: 8px;
  content: '';
  background: black;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  top: calc( var(--size) / 2 * -1 );
}

.shuffle,
.repeat {
  color: gray;
}

.play i {
  font-size: 40px;
}

.progress {
  margin-top: 24px;
}

.progress__background {
  width: 100%;
  background-color: lightgray;
  background-clip: content-box;
  padding: 4px 0;
  border-radius: 4px;
  cursor: pointer;
}

.progress__fill {
  background-color: black;
  border-radius: 4px;
  height: 4px;
  position: relative;
  display: flex;
  align-items: center;
}

.progress__fill::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: black;
  right: -4px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.progress__background:hover .progress__fill::after {
  opacity: 1;
}

.progress__duration {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.progress__duration * {
  margin: 0;
  font-size: 12px;
}

.progress__bar {
  
}

.list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  /* display: flex; */
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fadeOut {
  from { opacity: 1 }
  to { opacity: 0 }
}

.list__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.5s ease;
}

@keyframes slideIn {
  from {
    transform: translateY(70%);
    opacity: 0;
  }
  to {
    transform:translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {}
  to {
    transform: translateY(70%);
    opacity: 0;
  }
}

.list__main {
  z-index: 1;
  margin-top: auto;
  width: 100%;
  height: 70%;
  background: whitesmoke;
  animation: slideIn 0.5s ease;
}

.list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 12px;
  background: white;
}

.list__header p {
  margin: 0;
  font-size: 18px;
}

.list__header i {
  transition: opacity 0.2s ease;
  font-size: 18px;
  padding: 8px;
}

.list__header i:hover {
  opacity: 0.6;
  cursor: pointer;
}

.song {
  height: 32px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  transition: background 0.2s ease;
}

.song:hover {
  background: rgb(224, 224, 224);
  cursor: pointer;
}

.song__img,
.song__img img {
  height: 100%;
}

.song__img {
  margin-right: 8px;
  position: relative;
}

.song__play {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song__play i {
  font-size: 22px;
  color: white;
  opacity: 0;
  transition: all 0.2s ease;
}

.song__play i:hover {
  filter: brightness(80%);
}

.song:hover .song__play i {
  opacity: 1;
}

.song__detail *,
.song__duration {
  font-size: 13px;
  margin: 0;
}

.song__author {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 4px;
}

.song__duration {
  margin-left: auto;
}